<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 本地禅道数据库 -->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                &lt;!&ndash; 笔记本的数据库链接信息 &ndash;&gt;-->
<!--&lt;!&ndash;                <property name="url" value="jdbc:mysql://localhost:3306/zentao2"/>&ndash;&gt;-->
<!--                &lt;!&ndash; 包能台式机笔记本的数据库链接信息 &ndash;&gt;-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/zentao"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="0hwJPx>k4IO"/>-->
<!--            </dataSource>-->

            <!-- 包能正式数据库 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 笔记本的数据库链接信息 -->
                <!--                <property name="url" value="jdbc:mysql://localhost:3306/zentao2"/>-->
                <!-- 包能台式机笔记本的数据库链接信息 -->
                <property name="url" value="jdbc:mysql://10.26.40.151:3306/data_center"/>
                <property name="username" value="oper_dc"/>
                <property name="password" value="operzADF2020qwer"/>

                <!-- 初始连接数，默认为0 -->
                <property name="initialSize" value="10"/>
                <!-- 最大连接数，默认为8 -->
                <property name="maxActive" value="30"/>
                <!-- 最小闲置数 -->
                <property name="minIdle" value="10"/>
                <!-- 获取连接的最大等待时间，单位为毫秒 -->
                <property name="maxWait" value="60000"/>
                <!-- 缓存PreparedStatement，默认为false
                <property name="poolPreparedStatements" value="true"/>-->
                <!-- 缓存PreparedStatement的最大数量，默认-1（不缓存）。大于0时会自动开启缓存PreparedStatement，所以可以省略上一句设置 -->
                <property name="maxOpenPreparedStatements" value="20"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/yonyou/mapper/UserMapper.xml"/>
    </mappers>
</configuration>