<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyou.mapper.SQLMapper">
    <select id="executeMultipleStatements">
        select * from ods_device_purchase_plan
    </select>

</mapper>