<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyou.mapper.UserMapper">

    <select id="selectall" resultType="com.yonyou.pojo.User">
        select * from zt_user;
    </select>

    <select id="selectlogin" resultType="com.yonyou.pojo.User">
        select id,account,realname from user where id = '1';
    </select>

    <select id="selectBcsRepeatData" parameterType="java.lang.String" resultType="com.yonyou.pojo.BcsData" >
        select
            ucode ,
            per,
            rid,
            count(rid) as count
        from
            ${tableName}
        where per  = '2024' and ucode like 'GY2F00_011%'
          and rid  = '1'
        group by rid,ucode,per
        having count(rid)  > 1
    </select>

    <delete id="deleteBcsRepeatData" parameterType="java.lang.String" >
        delete from ${tableName}
        where id in (
            with tt as (
                select
                    max(id) as id
                from ${tableName}
                where per  = '2024' and ucode like 'GY2F00_011%'
                group by rid,ucode,per
                having count(rid)  > 1
            )
            select id from tt
        )
    </delete>

</mapper>